{% extends 'base.html' %}
{% load static %}


{% block css_links %}
<link rel="stylesheet" href="{% static 'css/home_page.css' %}">
{% endblock %}

{% block title %}
ICompany
{% endblock title %}

{% block content %}

  <main>

    <div class="sidebar_block">
      <nav> 
          <ul class="sidebar_lists">
              <li><a href="#ac">Компания туралы</a></li>
              {% comment %} <li><a href="/service-2/">Сервисы</a></li> {% endcomment %}
              <li><a href="/service-3/">Қызметтер</a></li>
              <li><a href="/service-3/">Біздің жобалар</a></li>
              <li><a href="/service-3/">Пікірлер</a></li>
              <li><a href="/service-3/">Байланыс</a></li>
          </ul>
      </nav>
    </div>

    <div class="main_block">
      <div class="container">
        <div id="ac" class="about_company">
          <!-- <img class="ac_img" src="{% static 'img/Robotics.jpg' %}" alt=""> -->
          <div class="titles_block">
            <h1>Компания туралы</h1>
            <h2>Біз сіздің брендіңіз үшін шығармашылық жұмыс жасаймыз!</h2>
          </div>

          <p>Біздің IT компаниямыз деректерді сақтау саласындағы көшбасшы болып табылады және тұтынушыларға жоғары сапалы деректерді сақтау, өңдеу және қорғау қызметтерін ұсынады. Біз әлемнің түкпір-түкпірінен келген клиенттерден өтінімдерді қабылдаймыз және оларға бизнес үшін ең тиімді және инновациялық шешімдерді ұсынамыз.
            Біз біздің компанияның ең заманауи технологиялармен және құралдармен жұмыс істейтінін мақтан тұтамыз, бұл бізге тұтынушыларымызға олардың деректерін сақтау мен өңдеуде барынша сенімділік пен қауіпсіздікті қамтамасыз етуге мүмкіндік береді. Біздің қауіпсіздік бойынша сарапшылар тобы үнемі ақпараттық қауіпсіздіктің жаңа тенденцияларын іздейді және деректерді қорғаудың ең озық әдістерін пайдаланады.
            Біздің компания сонымен қатар деректерді сақтау бойынша кеңес беру қызметтерін ұсынады және біз өз клиенттерімізге деректерді сақтау және өңдеу туралы дұрыс шешім қабылдауы үшін барлық қажетті білім мен ресурстарды беруге әрқашан дайынбыз.
            Біз компаниямыздың сақтау саласындағы көшбасшы ғана емес, сонымен қатар инновациялар мен тұтынушыларға сапалы қызмет көрсету саласындағы көшбасшы болуын қамтамасыз етуге тырысамыз. Біз клиенттерімізге деректерді сақтаудың ең күрделі мәселелерін шешуге көмектесуге және оларға ынтымақтастықтың барлық кезеңінде жоғары сапалы қызмет көрсетуге дайынбыз.</p>
        </div>

        {% comment %} Наша IT-компания является лидером в области хранения данных и предоставляет клиентам высококачественные услуги по хранению, обработке и защите данных. Мы принимаем заявки от клиентов со всего мира и предлагаем им наиболее эффективные и инновационные решения для их бизнеса.
            Мы гордимся тем, что наша компания работает с самыми современными технологиями и инструментами, что позволяет нам гарантировать нашим клиентам максимальную надежность и безопасность при хранении и обработке их данных. Наша команда экспертов по безопасности постоянно следит за новыми тенденциями в области информационной безопасности и использует самые передовые методы защиты данных.
            Наша компания также предлагает услуги по консультированию клиентов в области хранения данных, и мы всегда готовы предоставить нашим клиентам все необходимые знания и ресурсы для того, чтобы они могли принимать правильные решения по вопросам хранения и обработки данных.
            Мы стремимся к тому, чтобы наша компания была не только лидером в области хранения данных, но и лидером в области инноваций и качественного обслуживания клиентов. Мы готовы помочь нашим клиентам в решении самых сложных задач в области хранения данных и предоставляем им высококлассное обслуживание на протяжении всего сотрудничества. {% endcomment %}
        
      </div>
    </div>


</main>

{% endblock %}


{% block js_scripts %}
  <script src="{% static 'js/home_page.js' %}"></script>
{% endblock %}