{% extends 'base.html' %}
{% load static %}

{% block css_links %}
    <link rel="stylesheet" href="{% static 'css/news_detail.css' %}">
{% endblock %}

{% block content %}

{% block title %}

{% endblock title %}



{% comment %} {% for project in projects %} {% endcomment %}


<div class="container">
    <div class="shadow-lg mb-5 bg-white rounded">
        <div class="card my-3">
            <h6 class="card-header">{{projects.name}}</h6>
            <div class="card-body">
                <img class="news_img" src="{{projects.image.url}}" alt="{{projects.name}}">
                <h1 class="card-title text-center font-weight-bold">{{news.title}}</h1>
                <p class="card-text">{{projects.description|linebreaks}}</p>
                <p>Қызмет саласы: {{projects.area}}</p>
                <p>Клиент: {{projects.client}}</p>
            </div>
        </div>
    </div>
</div>


{% endblock content %}

